<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing JPetStore">
	<test name="ChromeTest">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="tests.EnterStoreTest" />
			<class name="tests.PetStoreMenuTest" />
			<class name="tests.RegistrationTest" />
			<class name="tests.SignInTest" />
			<class name="tests.CartTest" />
		</classes>
	</test> <!-- Test -->
	<test name="FirefoxTest">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="tests.EnterStoreTest" />
			<class name="tests.PetStoreMenuTest" />
			<class name="tests.RegistrationTest" />
			<class name="tests.SignInTest" />
			<class name="tests.CartTest" />
		</classes>
	</test> <!-- Test -->
	<test name="EdgeTest">
		<parameter name="browser" value="Edge" />
		<classes>
			<class name="tests.EnterStoreTest" />
			<class name="tests.PetStoreMenuTest" />
			<class name="tests.RegistrationTest" />
			<class name="tests.SignInTest" />
			<class name="tests.CartTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->

